node_modules
lib
dist
*.log
.env
.venv
.firebase
/.firebase
/.cache
venv
__pycache__
*.pyc
/*.tgz
# allow package-lock.json for reproducible installs (commit intentionally)
# package-lock.json
/.idea
/.vscode
npm-debug.log
yarn-error.log
